cuwbBatch/src/main/java/com/radian/webserviceclient/miOnline/resultXSD/WMCUWListUnderwritersWithUnbilledLoansResponse_DTL.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WMCUWListUnderwritersWithUnbilledLoansResponse_DTL">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="call_returnstatus">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="errorcode"/>
              <xs:element type="xs:string" name="errordesc"/>
              <xs:element type="xs:string" name="errorsrc"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="underwriters">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="listitem" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="version"/>
      <xs:attribute type="xs:string" name="method"/>
    </xs:complexType>
  </xs:element>
</xs:schema>